# ===============================
# FICHIERS PYTHON
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# EXTENSIONS / BINAIRES
# ===============================
*.so

# ===============================
# ENVIRONNEMENTS VIRTUELS
# ===============================
.venv/
env/

# ===============================
# BUILD / DISTRIBUTION
# ===============================
build/
dist/
.eggs/
*.egg-info/
*.egg

# ===============================
# LOGS
# ===============================
*.log
pip-log.txt
pip-delete-this-directory.txt

# ===============================
# TESTS / COUVERTURE
# ===============================
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# ===============================
# CONFIGURATION
# ===============================
.env

# ===============================
# BASES DE DONNÉES
# ===============================
*.db
*.rdb

# ===============================
# IDE
# ===============================
.vscode/
.idea/
.spyproject/

# ===============================
# JUPYTER
# ===============================
.ipynb_checkpoints/

# ===============================
# SYSTÈME
# ===============================
.DS_Store
*.swp
*.swo

# ===============================
# CACHE PYTHON
# ===============================
.mypy_cache/

# ===============================
# DONNÉES (gestion via DVC)
# ===============================
data/*
!data/processed/
!data/processed/*.dvc
!data/processed/.gitignore
 
#===============================
# DVC 
# ===============================
.dvc/tmp/
===============================
# MLflow 
# ===============================
mlartifacts/
*.pkl