numpy
pandas
scikit-learn
joblib
fastapi
uvicorn
pydantic
mlflow
sqlalchemy
psycopg2-binary
dvc
pyyaml
pytest
httpx
flake8
python-jose[cryptography]
passlib[bcrypt]
python-multipart
prometheus-fastapi-instrumentator
prometheus-client
streamlit
requests
